<!-- snippets/collection-template-rsidebar.liquid -->
<div class="container">
  <div class="banner-header banner-lbook3 engoc_header_collection" style="background-image: url({% if section.settings.crs_bg == blank %}{% capture _img_url %}collection_ls_hbg.jpg{% endcapture %}{{ _img_url | asset_url}}{% else %}{{ section.settings.crs_bg | img_url:'master' }}{% endif %});">
    <div class="text">
      <h3>{{collection.title}}</h3>
      <img class="border" src="{{ 'border_title_blog_detail.png' | asset_url }}" alt="border">
      <p>{{collection.description}}</p>
    </div>
  </div>
</div>
<!-- End Banner Grid -->
<div class="container">
  <div class="wrap-breadcrumb">
    {% include 'breadcrumb' %}
    {% include 'collection-sorting' %}
  </div>
</div>
<!-- End ordering -->
<div class="container">
  <div id="primary" class="col-xs-12 col-md-9 engoc_rsidebar_main">
    <div class="products grid_full grid_sidebar grid-uniform">
      {% for product in collection.products %}
      {% include 'product-item-collection-gridlist' %}
      {% else %}
      {% if collection.handle == 'all' and current_tags == '' %}

      {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
      {% endunless %}
      {% include 'onboarding-empty-c-gridlist' %}

      {% else %}

      {% comment %}
      If collection exists but is empty, display message
      {% endcomment %}
      <div class="text-center">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>

      {% endif %}
      {% endfor %}
    </div>
    <!-- End product-content products  -->
    <div class="pagination-container">
      <nav class="pagination">    
        {{ paginate | default_pagination | replace: '&laquo; Previous', '<i class="fa fa-angle-left"></i>' | replace: 'Next &raquo;', '<i class="fa fa-angle-right"></i>' }}
      </nav>
    </div>
    <!-- End pagination-container -->
  </div>
  <!-- End Primary -->
  <div id="secondary" class="widget-area col-xs-12 col-md-3 collection-sidebar engoc_sw_filter_tag engoc_rsidebar">
  {% include 'collection-sidebar' %}
  </div>
  <!-- End Secondary -->
</div>
<!-- end product sidebar -->