<header id="header" class="header-v1 header-v4 engoc_header_s1">
  {% if settings.hds1_topbar_enable %}
  <div id="topbar">
    <div class="container">
      <div class="topbar-left">
        <div class="sign-in">
          <p class="topbar-title">
            {{settings.hds1_topbar_left_content}}
          </p>
          <a href="/account/login" title="login"><i class="{{settings.hds1_acc_icon}} icons"></i></a>
          <a href="/pages/wish-list" title="wishlist"><i class="{{settings.hds1_wishlist_icon}} icons"></i></a>
        </div>
        <!-- End SignIn -->
      </div>
      <!-- End topBar-left -->
      <div class="topbar-right">
        <div class="social">
          {{settings.hds1_topbar_right_content}}
        </div>
        <!-- End Social -->
      </div>
      <!-- End topbar-right -->
    </div>
    <!-- End container -->
  </div>
  {% endif %}
  <!-- End Top Bar -->
  <div class="header-top">
    <div class="container">
      <div class="col-md-10 col-sm-9 col-xs-12">
        <p class="icon-menu-mobile"><i class="fa fa-bars" ></i></p>
        <div class="logo">
          <a href="{{shop.url}}" title="logo">
            {% if settings.hds1_svg_logo_enable %}
            	{{settings.hds1_svg_logo}}
            {% else %}
            	{% if settings.hds1_logo == blank %}
                {% capture _img_url %}uno_logo_black.png{% endcapture %}
                <img src="{{ _img_url | asset_url}}" alt="">
                {% else %}
          		<img src="{{settings.hds1_logo | img_url:'master'}}" alt="logo">
                {% endif %}
            {% endif %}
          </a>
        </div>
        <div class="logo-mobile">
          <a href="{{shop.url}}" title="logo">
            {% if settings.hds1_mobile_svg_logo_enable %}
            	{{settings.hds1_mobile_svg_logo}}
            {% else %}
                {% if settings.hds1_mobile_logo == blank %}
                {% capture _img_url %}uno_logo_black.png{% endcapture %}
                <img src="{{ _img_url | asset_url}}" alt="">
                {% else %}
          		<img src="{{settings.hds1_mobile_logo | img_url:'master'}}" alt="logo">
                {% endif %}
            {% endif %}
          </a>
        </div>
        {% include 'menu' %}
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="cart">
          <p class="icon-cart">
            <i class="icons {{settings.hds1_cart_icon}}"></i>
            <span id="CartCount" class="cart-count">{{ cart.item_count }}</span>
          </p>
        </div>
        <!-- End cart -->
        <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg">
          <i class="icons {{settings.hds1_search_icon}} dropdown-toggle"></i>
        </div>
        <!-- End search -->
        {% comment %}
        {% include 'modal-search' %}
        {% endcomment %}
      </div>                
    </div>
    <!-- End container -->
  </div>
  <!-- End header-top -->
</header>