<div data-section-id="{{ section.id }}" data-section-type="section-newletter-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="newsletter-v2">
    <div class="container">
      <div class="col-md-6">
        <i class="icon {{section.settings.newletter_icon}}"></i>
        <div class="text">
          <h3>{{section.settings.newletter_title}}</h3>
          <p>{{section.settings.newletter_des}}</p>
        </div>
      </div>
      <div class="col-md-6">
        {% if settings.newsletter_form_action != blank %}
        {% assign form_action = settings.newsletter_form_action %}
        {% else %}
        {% assign form_action = '#' %}
        {% endif %}
        <form action="{{ form_action }}" method="post" accept-charset="utf-8">
          <input placeholder="{{section.settings.newletter_placeholder}}" type="email" onblur="if (this.value == '') {this.value = '{{section.settings.newletter_placeholder}}';}" onfocus="if(this.value != '') {this.value = '';}" value="{% if customer %}{{ customer.email }}{% endif %}" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="EMAIL"> 
          <button class="button button1 hover-white" title="{{section.settings.newletter_btn_name}}" type="submit">{{section.settings.newletter_btn_name}}<i class="link-icon-white"></i></button>
        </form>
      </div>
    </div>            
    <!-- End container -->
  </div>
</div>


{% schema %}
{
  "name": "Newletter v1",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "info": "MailChimp form action URL: Setting in Login Store > Customize theme > General Settings tab > General > Mailchimp",
      "content": "Mailchimp"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
	{
      "type": "text",
      "id": "newletter_icon",
      "label": "Icon",
	  "info": "[Get icon from here](http://simplelineicons.com/)",
      "default": "icon-envelope-letter"
    },
    {
      "type": "text",
      "id": "newletter_title",
      "label": "Title",
      "default": "SIGN UP FOR NEWSLETTER"
    },
    {
      "type": "text",
      "id": "newletter_des",
      "label": "Description",
      "default": "TO RECEIVE UPDATES"
    },
	{
      "type": "text",
      "id": "newletter_placeholder",
      "label": "Input placeholder",
      "default": "Enter your email here..."
    },
    {
      "type": "text",
      "id": "newletter_btn_name",
      "label": "Button name",
      "default": "Subscribe"
    },
	{
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Newletter v1",
      "category": "Subscribe Newletter"
    }
  ]
}
{% endschema %}
