<div data-section-id="{{ section.id }}" data-section-type="section-product-tabs" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="best-selling">
    {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}

    {% assign products_limit = block.settings.tab_limit %}
    {% assign col = block.settings.tab_collection %}
    <div class="col-md-4">
      <div class="title-text border-color-red">
        <h3>{{block.settings.tab_title}}</h3>
      </div>
      <div class="products">
        {% for product in collections[col].products limit: products_limit %}
        {% include 'product-item-product-tabs' %}
        {% else %}
        {% include 'onboarding-empty-s-product-tabs' %}
        {% endfor %}
      </div>
      {% if block.settings.tab_btn_url != blank %}
      <a class="button button1 hover-black" href="{{block.settings.tab_btn_url}}" title="{{block.settings.tab_btn_name}}">{{block.settings.tab_btn_name}}<i class="link-icon-black"></i></a>
      {% endif %}
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "Product Tabs",
  "max_blocks": 3,
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Title",
          "info": "BEST SELLING"
        },
        {
          "type": "collection",
          "id": "tab_collection",
          "label": "Choose Collection"
        },
        {
          "type": "text",
          "id": "tab_limit",
          "label": "Limit number of products",
          "default": "2"
        },
        {
          "type": "text",
          "id": "tab_btn_name",
          "label": "Button name",
          "default": "View more"
        },
        {
          "type": "text",
          "id": "tab_btn_url",
          "label": "Button url",
          "info": "if URL empty, Button don't show",
          "default": "\/collections\/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Tabs",
      "category": "Product",
	  "blocks": [
        {
          "type": "tab",
          "settings": {
            "tab_title": "BEST SELLING",
            "tab_limit": "2",
			"tab_btn_name": "View more",
			"tab_btn_url": "\/collections\/all"
          }
        },
        {
          "type": "tab",
          "settings": {
            "tab_title": "TOP RATE",
            "tab_limit": "2",
			"tab_btn_name": "View more",
			"tab_btn_url": "\/collections\/all"
          }
        },
        {
          "type": "tab",
          "settings": {
            "tab_title": "SPECIAL",
            "tab_limit": "2",
			"tab_btn_name": "View more",
			"tab_btn_url": "\/collections\/all"
          }
        }
      ]
    }
  ]
}
{% endschema %}
