<div data-section-id="{{ section.id }}" data-section-type="section-ibanner-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}{% if section.settings.margin_left != blank %}margin-left: {{section.settings.margin_left}}px;{% endif %}{% if section.settings.margin_right != blank %}margin-right: {{section.settings.margin_right}}px;{% endif %}">
  <div class="banner-home8-top">
    {% if section.blocks.size > 0 %}
    {%- assign i = 1 -%}
    {% for block in section.blocks %}
    <div class="col-md-3 col-sm-6 items banner-private hover-images">
      <a href="{{block.settings.ib_url}}" title="banner">
      {% if block.settings.ib_background == blank %}
      {% capture _img_url %}ibanner_v2_bg{{i}}.jpg{% endcapture %}
      <img src="{{ _img_url | asset_url}}" alt="">
      {% else %}
      <img src="{{ block.settings.ib_background | img_url:'master' }}" alt="banner">
      {% endif %}
      </a>
      <div class="text">
        <h3>{{block.settings.ib_content_1}}</h3>
        <p>{{block.settings.ib_content_2}}</p>
      </div>
    </div>
    {%- assign i = i | plus : 1 -%}
    {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Interactive Banner v2",
  "max_blocks": 4,
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_left",
      "label": "Margin Left",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_right",
      "label": "Margin Right",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "ib_background",
          "label": "Background"
        },
        {
          "type": "text",
          "id": "ib_content_1",
          "label": "Content 1",
          "default": "Features"
        },
        {
          "type": "text",
          "id": "ib_content_2",
          "label": "Content 2",
          "default": "recaptiualize quality"
        },
        {
          "type": "text",
          "id": "ib_url",
          "label": "URL",
          "default": "\/collections\/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Interactive Banner v2",
      "category": "Content",
      "blocks": [
        {
          "type": "banner",
          "settings": {
            "ib_content_1": "Features",
            "ib_content_2": "recaptiualize quality",
            "ib_url": "collections/all"
          }
        },
        {
          "type": "banner",
          "settings": {
            "ib_content_1": "New arrivals",
            "ib_content_2": "recaptiualize quality",
            "ib_url": "collections/all"
          }
        },
		{
          "type": "banner",
          "settings": {
            "ib_content_1": "Lookbook",
            "ib_content_2": "recaptiualize quality",
            "ib_url": "collections/all"
          }
        },
        {
          "type": "banner",
          "settings": {
            "ib_content_1": "House & Home",
            "ib_content_2": "recaptiualize quality",
            "ib_url": "collections/all"
          }
        }
      ]
    }
  ]
}
{% endschema %}
