<!-- /templates/404.liquid -->
<div class="br-background section-404 section-404--white bg-404" style="background-image: url('{{ 'bg-404.jpg' | asset_url }}');">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1 class="mb-20">{{ 'general.404.title' | t }}</h1>
        <h2>{{ 'general.404.content_one' | t }}</h2>
        <p class="fz-16 mb-25">{{ 'general.404.content_two' | t }}</p>
        <p>{{ 'general.404.subtext_html' | t }}</p>
      </div>
    </div>
  </div>
</div>
{% include 'SEOManager-404' %}