{% layout none %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>We're currently updating the website.</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400,400italic,700,700italic%7CPlayfair+Display:400,400italic,700italic,700%7CHind:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- // CSS -->
    {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    {{ 'select2.css' | asset_url | stylesheet_tag }}
    {{ 'awemenu.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'engo-customize.scss.css' | asset_url | stylesheet_tag }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
  </head>
  <body>
    <div class="stite-br">
      <div class="br-commingsoon text-center bg-comming-soon" style="background-image: url('{{ 'cms_bg.jpg' | asset_url }}'); }">
        <div class="container">
          <div class="br-commingsoon__content">
            <a href="{{shop.url}}" class="br-logo">
              <img src="https://cdn.shopify.com/s/files/1/0588/1313/files/mr-hardys-logo-white-web_78a04e14-2200-4329-813c-5a3ce66b71b1.png?v=1492582472" alt="">
            </a>
            <div class="br-commingsoon__main">
              <h1>Under construction</h1>
             

              <div class="br-clock-wrapper mb-40">
                <div class="br-countdown" data-countdown="engoj_countdown" data-date="{{settings.cms_time}}"></div>
              </div>
              <div id='container' class="mb-40">
                <div id='login'>
                  <div>
                    {% if shop.password_message and shop.password_message != '' %}
                    {{ shop.password_message }}
                    {% else %}

                    {% endif %}
                  </div>
                  <br>
                </div>
              </div>
              <!-- nav-social -->
            </div>

            <script type="text/javascript">
              document.getElementById('password').focus();
            </script>
            <!-- br-commingsoon__main -->
          </div>
          <!-- br-commingsoon__content -->
        </div>
      </div>
      <!-- br-commingsoon -->
    </div>
    <!-- stite-br -->
    <!-- JS -->
    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'jquery-ui.min.js' | asset_url | script_tag }}
    {{ 'bootstrap.min.js' | asset_url | script_tag }}

    {{ 'jquery-ui.min.js' | asset_url | script_tag }}
    {{ 'awemenu.min.js' | asset_url | script_tag }}
    {{ 'jquery.fittext.js' | asset_url | script_tag }}
    {{ 'masonry.pkgd.min.js' | asset_url | script_tag }}
    {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
    {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
    {{ 'slick.min.js' | asset_url | script_tag }}
    {{ 'jquery.countdown.min.js' | asset_url | script_tag }}
    {{ 'jquery.hoverdir.js' | asset_url | script_tag }}

    {{ 'select2.min.js' | asset_url | script_tag }}

    {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
  </body>
</html>
